.form-editor-container {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.editor-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.editor-title {
  text-align: center;
  font-size: 24px;
  color: #333;
}

.input-type-label {
  color: #333;
  font-size: 14px;
}

.form-title-input {
  margin-bottom: 20px;
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

.inputs-list {
  margin-bottom: 20px;
}

.input-fields {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 10px;
}

.input-field {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 14px;
}

.delete-button {
  padding: 8px 12px;
  background-color: #f44336;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.delete-button:hover {
  background-color: #d32f2f;
}

.input-type-buttons {
  display: flex;
  gap: 10px;
}

.input-type-button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

.input-type-button:hover {
  background-color: #0056b3;
}

.preview-section {
  flex: 1;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
